{% extends 'SedonaSBOAdminThemeBundle::layout_admin.html.twig' %}

{% block avanzu_logo %}
    <a href="{{ path('admin_home') }}" class="logo">
        <img src="http://deus.obspm.fr/wp-content/uploads/2010/09/logo.png" style="width:200px; padding: 0 0 5px;"/>
    </a>
{% endblock %}

{% block title %}
    DEUS DATABASE
{% endblock title %}