
{% block content %}

    <div class="box-body table-responsive">
        {{ datatable_render(datatable) }}
    <div class="box-footer"><a href="{{ path('admin_objectgroup_new_geometry', {id:entity.id}) }}" class="btn btn-default pull-right">{{ 'crud.form.new'|trans([], 'admin')|addGlyphicon("plus-sign") }}</a><div class="clearfix"></div>
    </div>

{% endblock %}